<div class="row">

    <div class="col-xs-12">

      <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">


  <div class="col-xs-12">

    <a href="#" class="list-group-item clearfix"  *ngFor="let c of recipes">

      <div class="pull-left">

          <h4 class="list-group-item-heading" >{{c.name}}</h4>

          <p class="list-group-item-text">{{c.description}}</p>
      </div>

      <span class="pull-right">

        <img [src]="c.imagePath" alt="{{c.name}}" class="image-responsive" height="50 px"/>
      </span>

</a>

  </div>
</div>


<app-recipes-item></app-recipes-item>
